.body{
    background-color:cadetblue;
}


.navbar {
    margin: 0px;
    height: 150px;
    width: 100vw;
    background-color: rgb(51, 51, 51);
}

.title {
    padding: 40px 0px 20px 30px;
    font-family: 'aoharu-marker-mini';
    font-size: larger;
}

.navbar ul{
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0px 30px;
    font-family: 'aoharu-marker-mini';
}

.navbar ul li{
    display: inline;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: underline;

}

.content{
    padding-left: 10%;
    background-color: #666666;
}

.about {
    padding: 30px 0px 20px 0px;
}

.skil {
    padding: 30px 0px 20px 0px;
}

table,td,th {
    border: 1px solid #ffffff;
    border-collapse: collapse;
    width: auto;
    padding: 0.5em;
}

body {
    margin: 0;
    color: #ffffff;
}

h2 {
    padding: 0.3em 0.5em;
    background: transparent;
    border-left: solid 5px #c0c0c0;
    font-size: 36px;
}
